<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5>Templates</h5>
    <%= link_to 'Create New', new_template_url, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="pt-3">
    <table class="table table-sm table-borderless table-hover">
      <tbody>
      <% @templates.each do |template| %>
        <tr>
          <td><%= template.name %></td>
          <td style="width: 32px;">
            <%= link_to template_url(template), class: 'btn btn-info btn-sm', remote: true, data: {name: template.name} do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
          </td>
          <td style="width: 32px;">
            <% if template.admin_default %>
              <%= link_to '#', class: 'btn btn-warning btn-sm disabled' do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to edit_template_url(template), class: 'btn btn-warning btn-sm' do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </td>
          <td style="width: 32px;">
            <%= link_to duplicate_template_url(template), class: 'btn btn-secondary btn-sm', method: :post do %>
              <i class="fa fa-copy" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="templateShowModal" data-backdrop="static" tabindex="-1" aria-labelledby="templateShowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templateShowModalLabel">Template preview for <span id="templateModalName"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="templateModalContent">
          <iframe id="templateModalFrame" src="" width="100%" frameBorder="0">
            //show template here
          </iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>