<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <% if @emaillist.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @emaillist.errors.full_messages.each do |message| %>
        <p class="mb-0"><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5><%= @emaillist.name %></h5>
    <div class="dropdown right_menu">
      <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <%= link_to edit_emaillist_url(@emaillist), class: "dropdown-item", remote: true do %>
          Edit name
        <% end %>
        <% unless @emaillist.default %>
          <%= link_to set_default_emaillist_url, class: "dropdown-item", method: :put, remote: true do %>
            Set as default
          <% end %>
        <% end %>
        <%= link_to add_contact_emaillist_url, class: "dropdown-item", remote: true do %>
          Add contact to list
        <% end %>
        <% unless @emaillist.default %>
          <%= link_to @emaillist, class: "dropdown-item", method: :delete, data: {confirm: "Are you sure?"} do %>
            Delete List
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="pt-3">
    <table class="table table-sm">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td style="width: 32px;">
            <%= link_to contact, class: 'btn btn-info btn-sm', title: "View contact", remote: true do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
          </td>
          <td style="width: 32px;">
            <%= link_to remove_contact_emaillist_url(@emaillist, contact_id: contact.id), method: :delete, class: 'btn btn-danger btn-sm', title: "Remove contact from list", remote: true do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

<div class="modal fade" id="emailListModal" tabindex="-1" aria-labelledby="emailListModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= form_with model: @emaillist, url: emaillist_url(@emaillist), class: 'nobottommargin login-form', method: :put, data: {remote: true} do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="emailListModalLabel">Email List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name, class: 'text-capitalize' %>
            <%= f.text_field :name, value: @emaillist.name, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

