<%= form_with(model: from_email, local: true) do |form| %>
  <% if from_email.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h6><%= pluralize(from_email.errors.count, "error") %> prohibited this email from being saved:</h6>

      <ul>
        <% from_email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email_address %>
    <% readonly = from_email.is_user_default %>
    <%= form.email_field :email_address, class: "form-control", required: "required", readonly: readonly %>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= form.check_box :default, class: 'form-check-input' %>
      <%= form.label :default, class: 'form-check-label'%>
    </div>
  </div>

  <div class="form-group row border-top border-gray pt-2">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary pl-4 pr-4 mr-2"> Create </button> <%= link_to "Cancel", from_emails_url, :class => 'btn btn-light float-right' %>
    </div>
  </div>
<% end %>


