<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5>From Emails</h5>
    <%= link_to 'Create New', new_from_email_url, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="pt-3">
    <table class="table table-sm table-borderless table-hover">
      <thead>
      <tr>
        <th>Email Address</th>
        <th>Confirmed</th>
        <th>Default</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @from_emails.each do |email| %>
        <tr>
          <td><%= email.email_address %></td>
          <td><%= email.confirmed ? 'Confirmed' : 'Not Confirmed' %></td>
          <td><%= email.default ? 'Yes' : 'No' %></td>
          <td style="width: 120px;">
            <%= link_to edit_from_email_url(email), class: 'btn btn-warning btn-sm', title: "Edit Email" do %>
              <i class="fa fa-edit" aria-hidden="true"></i>
            <% end %>
          <% unless email.is_user_default %>
            <%= link_to '#!', class: 'btn btn-info btn-sm', title: "Resend Confirmation" do %>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            <% end %>
            <%= link_to email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', title: "Remove" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>