<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h6><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h6>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control", required: "required" %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :first_name, class: 'text-capitalize' %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :last_name, class: 'text-capitalize' %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <%= form.label :address, class: 'text-capitalize' %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :phone, class: 'text-capitalize' %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group  col-md-3 col-sm-10">
      <%= form.label :emaillist_id, 'Email List', class: 'text-capitalize'  %>
      <% emaillistDefault = contact.id ? contact.emaillist&.id : current_user.emaillists.find_by(default: true)&.id %>

      <%= form.select :emaillist_id, options_for_select(current_user.emaillists.all.map{ |t| [t.name,t.id]}, emaillistDefault.to_i) , {include_blank: true, required: false, include_hidden: false}, class: 'form-control select2' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary pl-4 pr-4 mr-2"> Save </button> <%= link_to "Cancel", contacts_url, :class => 'btn btn-light' %>
    </div>
  </div>
<% end %>


