<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5>Contacts</h5>
    <%= link_to 'Create New', new_contact_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="pt-3">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Subscribed</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.address %></td>
          <td><%= contact.phone %></td>
          <td><%= !!(contact.subscribed) ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Remove', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
