<%= form_with(model: campaign, local: true) do |form| %>

  <% if campaign.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h6><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h6>

      <ul>
        <% campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Campaign name' %>
    <%= form.text_field :name, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :subject, 'Email subject' %>
    <%= form.text_field :subject, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :from, 'From name' %>
    <%= form.text_field :from_name, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :from, 'From email address' %>
    <%= form.text_field :from_name, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :emaillist_id %>
    <%= form.number_field :emaillist_id, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :template_id, "Template" %>
    <%= form.number_field :template_id, class: "form-control", required: "required" %>
  </div>

  <div class="form-group">
    <%= form.label :datetime_send, "When to send" %>
    <%= form.text_field :datetime_send, class: "form-control", data: {behavior: "flatpickr"} %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-secondary pl-3 pr-3' %>
    <%= form.submit "Save and Send", class: 'btn btn-primary ml-3', formaction: update_send_campaign_path(campaign) %>
    <%= link_to "Cancel", campaigns_url, class: 'btn btn-light float-right'%>
  </div>
<% end %>
