
<div class="mt-5 my-3 p-3 bg-white rounded shadow-sm">
  <h5 class="border-bottom border-gray pb-2 mb-0">Pick A Template For Your Email</h5>
  <div class="row pt-3">
    <% if @templates.size > 0 %>
      <% for template in @templates %>
        <div class="col-auto mb-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= template.name %></h5>
  <!--            Todo: This will be the preview image part.-->
            </div>
            <div class="card-footer bg-transparent">
              <%= form_with model: @campaign, url: choose_template_campaign_url(@campaign) do |form| %>
                <%= form.hidden_field :template_id, value: template.id %>
                <%= form.submit "Choose", class: 'btn btn-primary btn-sm float-left' %>
              <% end %>
               <%= link_to template_url(template), class: 'btn btn-info btn-sm float-right', title: "Preview", remote: true, data: {name: template.name} do %>
                Preview
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12 pb-3">
        You have no template at the moment. <a href="<%= templates_url %>" class="btn btn-dark btn-sm">Create new template now!</a>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 border-top border-gray pt-2">
      <%= link_to "Back", campaign_subject_campaign_url(@campaign), class: 'btn btn-secondary pl-3 pr-3' %>
      <%= link_to "Cancel", campaigns_url, class: 'btn btn-light float-right'%>
    </div>
  </div>
</div>


<div class="modal fade" id="templateShowModal" data-backdrop="static" tabindex="-1" aria-labelledby="templateShowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templateShowModalLabel">Template preview for <span id="templateModalName"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="templateModalContent">
          <iframe id="templateModalFrame" src="" width="100%" frameBorder="0">
            //show template here
          </iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>