<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5>Campaigns</h5>
    <%= link_to 'Create New', new_campaign_url, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="pt-3">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Recipients</th>
        <th>Date & Time</th>
        <th>Status</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% if @campaigns.empty? %>
        <tr>
          <td class="text-center" colspan="5">No campaign available at the moment.</td>
        </tr>
      <% else %>
        <% @campaigns.each do |campaign| %>
          <tr data-href="<%= campaign_url(campaign) %>">
            <td><%= campaign.name %></td>
            <td><%= campaign.subject %></td>
            <td><%= campaign.emaillist&.name %></td>
            <td><%= campaign.datetime_send_str %></td>
            <td><%= campaign.status.capitalize %></td>
            <td style="width: 32px;">
              <%= link_to edit_campaign_url(campaign), class: 'btn btn-warning btn-sm', title: "Edit Campaign" do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
              <% end %>
            </td>
            <td style="width: 32px;">
              <%= link_to duplicate_campaign_url(campaign), class: 'btn btn-secondary btn-sm', title: "Duplicate", method: :post do %>
                <i class="fa fa-copy" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<script type="text/javascript">
  $(function(){
      $('*[data-href]').on('click', function (e) {
          const tgt = $(e.target);
          if(tgt.is("td")){
              e.preventDefault();
              window.location = $(this).data('href');
          }
      });
  });
</script>

