<div class="mt-5 my-3 p-3 bg-white rounded shadow-sm">
  <h5 class="border-bottom border-gray pb-2 mb-0">New Campaign</h5>
  <div class="pt-3">
    <%#= render 'form', campaign: @campaign, locals: {method: 'new'} %>
    <% campaign = @campaign %>

    <%= form_with(model: campaign, local: true, class: 'row g-3') do |form| %>

      <% if campaign.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h6><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h6>

          <ul>
            <% campaign.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group col-12">
        <%= form.label :subject, 'Subject', class: 'form-label' %>
        <% subject = @subject ? @subject : '' %>
        <%= form.text_field :subject, class: "form-control", required: "required", value: subject %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :from_name, 'Who is it from?', class: 'form-label' %>
        <%= form.text_field :from_name, id: "from_name", class: "form-control", placeholder: "Name", required: "required", value: current_user.from_emails.where(default: true).first.name %>
      </div>

      <div class="form-group col-md-6">
        <label class="form-label">&nbsp;</label>
        <select name="campaign[from_email_id]" id="from_email_id" class="select2 form-control" required="required">
          <% current_user.from_emails.where(confirmed: true).each do |from| %>
            <option data-name="<%= from.name %>" value="<%= from.id %>">
              <%= from.email_address %>
            </option>
          <% end %>
        </select>
        <%#= form.label :from, 'From email address', class: 'form-label' %>
        <%#= form.text_field :from_email, class: "form-control disabled", required: "required", value: current_user.email_address, readonly: true %>
        <%# TO DO: Allow users to have multiple 'from' email addresses, but the user has to validate they own the address first. %>
      </div>

      <div class="col-12 border-top border-gray pt-2">
        <%= form.submit "Continue to Next Step", class: 'btn btn-primary pl-3 pr-3' %>
        <%= link_to "Cancel", campaigns_url, class: 'btn btn-light float-right'%>
      </div>
    <% end %>


  </div>
</div>

<script type="text/javascript">
    $('#from_email_id').on('select2:select', function (e) {
        var data = e.params.data;
        let name = $(data.element).data("name");
        $('#from_name').val(name);
    });
</script>